form {
  display: block;
  text-align: center;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
}
.enter {
  border-radius: 10px;
}
.search {
  background-color: #cb997e;
  color: white;
  border-radius: 10px;
}
.search:hover {
  background-color: #faedc6;
  color: #3d2b2b;
  transition: all 200ms ease;
  cursor: pointer;
}
button {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 5px 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px gray;
  color: black;
  background-color: #faedc6;
  font-family: "Montserrat", sans-serif;
}
button:hover {
  background-color: #cb997e;
  color: white;
  transition: all 200ms ease;
  cursor: pointer;
}
.col-4 {
  margin: 20px 10px;
}
#city {
  display: block;
  text-align: center;
  text-transform: capitalize;
  font-family: "Roboto Slab", serif;
  color: #3d2b2b;
  padding: 30px 0px 10px 0px;
  margin: 50px 15px 0px 15px;
  font-size: 50px;
  background-image: url(pink.png);
  background-size: cover;
}

#current-date {
  font-family: "Roboto Slab", serif;
  display: block;
  text-align: center;
  margin: 0 auto;
  color: #3d2b2b;
  font-size: 22px;
}

#current-temp {
  display: inline-block;
  font-family: "Roboto Slab", serif;
  font-size: 60px;
  color: #3d2b2b;
}
#units {
  font-family: "Roboto Slab", serif;
  display: inline-block;
  text-align: left;
  padding: 10px 0px 0px 0px;
  margin: 0px 0px 0px 10px;
  font-size: 20px;
  color: #3d2b2b;
}

#celsius-link {
  color: #3d2b2b;
}

#fahrenheit-link {
  color: #3d2b2b;
}

a {
  text-decoration: none;
  text-decoration-color: currentColor;
  cursor: default;
}

#icon {
  width: 120px;
  display: block;
  text-align: right;
  padding: 55px 0px 0px 0px;
}
#weather-description {
  text-align: right;
  font-family: "Roboto Slab", serif;
  color: #f21170;
  padding: 10px;
}
ul {
  list-style-type: none;
  display: block;
  text-align: center;
  font-family: "Roboto Slab", serif;
  color: #ff1700;
  padding: 10px;
  margin: 15px;
  font-size: 18px;
}

.col {
  border: 3px #f21170 solid;
  border-radius: 10px;
  padding: 15px 5px;
  margin: 8px;
}
.weather-forecast-date {
  font-family: "Roboto Slab", serif;
  color: #ff1700;
  display: block;
  text-align: center;
}
.weather {
  display: block;
  text-align: center;
}
.weather-forecast-temperatures {
  display: block;
  text-align: center;
}
.weather-forecast-temperature-min {
  color: #ea5c2b;
}
footer {
  font-family: "Roboto Slab", serif;
  padding: 15px;
}
body {
  background: #ffd19a;
  border: 3px #f21170 solid;
  border-radius: 10px;
  padding: 20px 10px;
  margin: 35px;
}
